{% extends "base.html" %}

{% block content %}

<div class="hero">
    <h1>Join Our Team</h1>
</div>
<div class="form-container">
    <form method="POST">
    
<input type="text" name="name" placeholder="Name" required minlength="3">

<input type="email" name="email" placeholder="Email" required>

<input type="tel" name="phone" placeholder="Phone" 
       pattern="[0-9]{10}" title="Enter 10 digit phone number" required>

<select name="program" required>
  <option value="">Select Program</option>
  <option value="Education">Education</option>
  <option value="Health">Health</option>
</select>
    <button type="submit">Join Now</button>
    </form>
</div>


{% endblock %}